a:hover {
	text-decoration:underline;
}
.algo {
	margin:-1px 20px 0;
	padding:21px 0 0;
}
.algo_detail {
	width:660px;
//	height:128px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	padding:0 0 11px;
	overflow:hidden;
	font:12px/1.125 Arial,sans-serif;
}
.s_line2 {
	border-color:#e6e6e6;
}
.algo_face {
	float:left;
	width:100px;

}

.algo_face img{
	width:100px;
	height:100px;
}

.problem_detail {
	margin-left:115px;
}

.author_info {
	color:black;
}
.author_name {
	font-size:18px;
	font-weight:bold;
	line-height:20px;
}
.author_nickname {
	color:black;
	text-decoration:none;
}

.problem_text {
	font-size:18px;
	line-height:23px;
	padding:4px 0 4px;
}

.ac_info {
	height:50px;
	padding:5px 5px;
}
.ac_info img{
	width:50px;
	height:50px;
	float:left;
	padding:0px 5px;
}

.clearfix::after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.problem_func {
	float:right;
}
.s_txt0 {
	color:#87BEDC;
}
.s_txt3 {
	margin:0 6px 0 8px;
	vertical-align:1px;
	color:#aeaeae;
}
.s_txt2 {
	color:gray;
}


.problem_comments {
	border-width:1px;
	border-style:solid;
	padding:10px 20px 10px;
	border-radius:9px;
	line-height:20px;
	margin:10px 0 0;
//	display:none;
}
.s_line1 {
	border-color:#d9d9d9;
}
.c_input {
	border-radius:4px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 5px;
	margin-right: 0px;
	padding-top: 5px;
	padding-left: 4px;
	padding-bottom: 5px;
	padding-right: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color:#CCCCCC;
	font-size: 16px;
	font-family:serif;
	word-wrap: break-word;
	line-height: 18px;
	overflow-x: hidden;
	outline-style: none;
	outline-width: initial;
	outline-color: initial;
	overflow-y: hidden;
	height: 30px;

	width:100%;
	padding:5px 4px;
	margin:0 0 5px;
}
.btn {
	text-align:right;
	padding-bottom:0;
	line-height:20px;
	margin:0 0 8px 0;
}
.btn_a {
	cursor:pointer;
	color:white;
	display:inline-block;
	padding:0 0 0 2px;
	height:22px;
	line-height:21px;
	background-color:#FFA00A;
}

.dl_comments {
	padding:18px 0 0;
	margin:-1px 0 0;
	border-width:1px 0 0;
	border-style:solid;
	zoom:1;
}
.no_border_line {
	border-width:0;
	padding:10px 0 0 0;
}
.dl_comments dt {
	float:left;
	display:inline;
	width:30px;
	padding:3px 0 0 0;
}
.dl_comments img {
	width:30px;
	height:30px;
}
.dl_comments dd {
	margin:0 0 0 40px;
	line-height:28px;
	font-size:16px;
	word-wrap:break-word;
	zoom:1;
	vertical-align:text-bottom;
}

.dl_comment_action p {
	text-align:right;
	margin:4px 0;
}
