body {
	background-image:url("../images/body_bg.jpg");
}
div {
//	border:1px solid red;
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
	color:#0A8CD2;
}
a:hover {
	text-decoration:underline;
}


#text {
//	float:right;
//	width:80%;
//	height:90%;
//	width:980px;
	width:870px;
	height:1024px;
	margin:65px auto;
	background-image:url("../images/repeat_bg_y.png");
	background-repeat:repeat-y;
	padding:0% 0 0 0;

}
#left_rank {
	float:left;
	height:100%;
	width:150px;
	padding:1% 0 0 0;
//	background-color:#F2F2F2;
	overflow:hidden;
}

#top {
	top:0px;
	float:left;
	min-height:30%;
	//width:100%;
	padding:1% 0 0 0;
	height:100%;
	background-color:#FAFAFA;
}

#bottom_comment {
	float:left;
	min-height:30%;
	width:100%;
	}

