body{
//	background:green;
}
div {
//	border:1px solid red;
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

#header {
	border:3px solid black;
	height:5%;
	width:100%;
}
.hello_world {
	font-size:24px;
	color:red;
}

#text {
	float:right;
	width:80%;
	height:90%;
}
#left_rank {
	float:left;
	height:90%;
//	width:18%;
	padding:1% 0 0 0;
}

#top {
	top:0px;
	float:left;
	min-height:30%;
	//width:100%;
	padding:1% 0 0 0;
}

#bottom_comment {
	float:left;
	min-height:30%;
	width:100%;
	}

